<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221565126116-nbjtov510i9gr8qnlema685em4lj4c16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221565126116-nbjtov510i9gr8qnlema685em4lj4c16</string>
	<key>API_KEY</key>
	<string>AIzaSyACaaY2qxrM6SLPMlKVUXtI9UUkbVYyR_8</string>
	<key>GCM_SENDER_ID</key>
	<string>221565126116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klm.Shopia</string>
	<key>PROJECT_ID</key>
	<string>shopia-56c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>shopia-56c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221565126116:ios:055e8d82b3dcb99b</string>
	<key>DATABASE_URL</key>
	<string>https://shopia-56c5c.firebaseio.com</string>
</dict>
</plist>